rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{accountID} {
      allow  read: if true;
      allow write: if request.auth.token.manager == true;
    }
  	match /categories/{category} {
  		allow read: if true;
      allow write: if false;
  }
    	match /catalogs/{catalog} {
  		allow read: if true;
      allow write: if request.auth.token.manager == true || request.auth.token.volunteer == true;
  }
      match /orders/{order} {
      allow read: if true;
      allow write: if true;
  }
      match /breadAndSweets/{breadAndSweets}{
            allow  read: if true;
      allow write: if request.auth.token.manager == true;
    }
}
}