<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.md.williamriesen.hawkeyeharvestfoodbank">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_hawkeye_harvest_food_bank_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".signin.NotTakingOrdersNowMessageActivity" />
        <activity android:name=".signin.PickUpTomorrowInstructionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".signin.PickUpNowInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin.PickUpLaterTodayInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin.InProgressOnSiteInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin.AlreadyServedMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin.NoShowMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orderonsite.OnSiteOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".communication.DisplayNumberActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".orderfornextday.NextDayOrderActivity" />
        <activity
            android:name=".signin.SignInByAccountActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.SignStaffInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".director.DirectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manager.ManagerActivity"
            android:label="Inventory Manager"
            android:parentActivityName=".orderoffsite.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".volunteer.VolunteerActivity"
            android:icon="@drawable/ic_hawkeye_harvest_food_bank_logo"
            android:label="Order Packing"
            android:parentActivityName=".orderoffsite.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orderoffsite.MainActivity"
            android:parentActivityName=".signin.SignInByAccountActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".orderoffsite.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".communication.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_hawkeye_harvest_food_bank_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>